@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    --gold: #ffd21e;
    /* --gold: #BB9C21; */
    --hours: #734D36e0;
    --cream: #EFE6DD;
    --black: #111;
    --white: #fff;
    --content-bg: #fff8; 
    --main-font: 'Imbue', serif;
    --secondary-font: 'Poppins', sans-serif;
    --tertiary-font: 'Noto Serif Display', serif;
}

#mobile-nav-list {
    visibility: hidden;
}


#desktop-nav {
    visibility: visible;
    position: fixed;
    height: inherit;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-box {
    color: #111;
    background-color: #fff8;
    width: 30rem;
    height: fit-content;
    padding: 20px;
    margin: 10px;
    border-radius: 1rem;
    /* border: 3px solid #17285E; */
}

.item-container {
    /* background-color: #17285E; */
    width: fit-content;
    /* height: 120px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

html {
    height: 100%;
}

body {
    background-color: #111;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#backgrounds {
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: filter 300ms;
}

.fade {
    opacity: 0;
    transition: opacity 300ms;
}

.home-bg {
    background-image: url('Images/storehouse2.jpg');
    transition: opacity 300ms;
    background-size:cover;
    background-position: center center;
    position: fixed;
    bottom: 0;
}

.menu-bg {
    background-image: url('Images/charcuterie3.jpg');
    transition: opacity 300ms;
    background-size: cover;
    position: fixed;
    background-position: center;
    /* opacity: .3; */
    
}

.shop-bg {
    background-image: url('Images/storehouse4.jpg');
    transition: opacity 400ms;
    background-size: cover;
    position: fixed;
    background-position-y: 90%;
    /* opacity: .7; */
}

.catering-bg {
    background-image: url('Images/cookie1.jpg');
    transition: opacity 300ms;
    /* opacity: .6; */
    position: fixed;
    background-size: cover;
    background-position: center;
    /* opacity: .3; */
    
}

.about-bg {
    /* background-image: url('Images/storehouse5.jpg'); */
    background-color: #000;
    transition: opacity 300ms;
    /* opacity: .6; */
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    /* opacity: .5; */
}

/* @media (width < 800px) {
    .about-bg {
        background-size: auto cover;
        position: fixed;
    }
} */

/* #region about-bg with old photo */
/* .about-bg {
    background-image: url('Images/moormanExtended.png');
    transition: opacity 300ms;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position:center;
}

.about-bg::before {
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(6px);
    background-image: url('Images/moormanExtended.png');
} */
/* #endregion */


.cart-bg {
    background-image: url('Images/storehouse3.jpg');
    transition: opacity 300ms;
    /* opacity: .6; */
    position: fixed;
    background-size: cover;
    background-position-y: 70%;
    /* opacity: .5; */

}

.hours-bg {
    background-image: url('Images/enlarge_storehouse1_cropped_cleanup.jpg');
    transition: opacity 300ms;
    /* opacity: .6; */
    /* position: fixed;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 40%; */
    /* opacity: .5; */
    background-size:cover;
    background-position: center center;
    position: fixed;

}

/* .home-bg::before {
    opacity: 0;
} */



nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    z-index: 10;
}

nav a h3 {
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 200;

}

nav a {
    text-align: center;
    /* margin: 0 1rem; */
    width: 20rem;
    height: 100%;
    background-color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    transition: color 300ms, background-color 300ms;
}

nav a:hover {
    background-color: #111d;
    color: var(--gold);
}

#desktop-nav a:first-child {
    margin-right: auto;
}

#desktop-nav a:last-child {
    font-size: 5rem;
    margin-left: auto;
}

#content-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-not-visible {
    transform: translateX(200rem);
    transition: transform 300ms ease;
}

.main-content {
    position: absolute;
    box-shadow: 0 0 2rem .5rem #111;
}

#hours-content {
    width: 90rem;
    min-height: 50%;
    margin-top: 5rem;
    background-color: var(--hours);
    color: var(--cream);
    font-family: var(--secondary-font);
    border: 1rem solid var(--cream);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    transition: transform 300ms ease;
}

/* #menu-content {
    min-width: 50%;
    min-height: 70%;
    top: 0rem;
    margin: 15rem 15rem;
    background-color: #fff8;
    font-family: var(--secondary-font);
    border: 1rem solid #fffa;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    transition: transform 200ms ease;
    
} */

#menu-content {
    width: 100%;
    height: 90%;
    top: 0rem;
    margin-top: 5rem;
    background-color: #fff8;
    font-family: var(--secondary-font);
    /* border: 1rem solid #fffa; */
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    transition: transform 200ms ease;
    overflow: hidden;
    
}

#menu-window {
    width: 100%;
    background-color: #f004;
    transform: translateX(-100%);
}

.menu-sheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0f04;
}

.menu-tab {
    writing-mode:vertical-lr;
    background-color: #f00;
    position: absolute;
    width: 4rem;
    padding: 1rem 0;
    right: -4rem;
    border-radius: 0 1rem 1rem 0;
    font-size: 2rem;
    font-family: var(--secondary-font);
    font-weight: 600;
}

#coffee-tab {

}

#espresso-tab {
    transform: translateY(11rem);
}

#other-tab {
    transform: translateY(24.5rem);
}

#baked-tab {
    transform: translateY(41.5rem);
}

#charcuterie-tab {
    transform: translateY(59.4rem);
}

#shop-content {
    min-width: 50%;
    min-height: 50%;
    margin-top: 5rem;
    background-color: #BFAC99aa;
    color: var(--cream);
    font-family: var(--secondary-font);
    border: 1rem solid #654a;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    transition: transform 200ms ease;

}

#catering-content {
    min-width: 50%;
    min-height: 50%;
    margin-top: 5rem;
    background-color: #9FD5ECaa;
    color: var(--cream);
    font-family: var(--secondary-font);
    border: 1rem solid #143A4Caa;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    transition: transform 200ms ease;

}

#about-content {
    width: 50%;
    margin-top: 10rem;
    /* top: 10rem; */
    /* margin-left: 15rem; */
    /* height: 50%; */
    /* top: 10rem; */
    /* background-color: #111a; */
    background-color: #111b;
    color: var(--cream);
    font-family: var(--secondary-font);
    border: 1rem solid #000a;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    transition: transform 200ms ease;
    box-shadow: none;
}

/* With old photo */
/* #about-content {
    width: 50%;
    top: 10rem;
    background-color: #111a;
    color: var(--cream);
    font-family: var(--secondary-font);
    border: 1rem solid #000a;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    transition: transform 200ms ease;
} */

#about-content h2 {
    margin-top: 0;
    font-family: var(--tertiary-font);
    font-weight: 900;
    color: white;
}

#about-content p {
    font-size: 2rem;
    text-indent: 5rem;
    margin: 1rem 0;
}

#about-content h5 {
    font-family: var(--tertiary-font);
    font-weight: 300;
    font-size: 5rem;
    margin-left: auto;
    margin-right: 2rem;
}

#about-content p span {
    font-size: 4rem;
}

#about-content p em {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--tertiary-font);
}

#cart-content {
    min-width: 50%;
    min-height: 50%;
    margin-top: 5rem;
    background-color: var(--hours);
    color: var(--cream);
    font-family: var(--secondary-font);
    border: 1rem solid var(--cream);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    transition: transform 200ms ease;

}



/* #region header */
header {
    display: none;
    justify-content: center;
}
/*
#logo-alt {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 8rem;
    display: none;
}

h1 {
    font-size: 10rem;
    font-weight: 500;
}

#logo-alt h1 {
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 8rem;
    font-weight: 400;    
}

#logo-alt h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h3 {
    font-size: 5rem;
    font-weight: 500;
}

#logo-alt h3:nth-of-type(1) {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

#logo-alt h3 {
    letter-spacing: .5rem;
    margin-top: -2rem;
}

h4 {
    font-size: 4rem;
    font-weight: 500;
} */

/* #endregion */

/* #region hours-container */
#hours-container {
    width: 75rem;
    height: 80rem;
    background-color: var(--hours);
    color: var(--cream);
    font-family: var(--secondary-font);
    border: 1rem solid var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    display: none;
}

.hours-days {
    font-weight: 100;
    font-size: 4rem;
}

#hours-title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 1rem;
}

#hours-div {
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: var(--cream);
    color: var(--hours);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hours-div h4 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
}

.hours-new {
    font-family: var(--tertiary-font);
    font-size: 7rem;
    font-weight: 900;
}
/* #endregion */

/* #region Width < 1200px */
@media (width < 1200px) {
    * {
        font-size: 50%; 
    }

    #menu-content {
        margin-top: 5rem;
    }

    #about-content {
        width: 80%;
    }
}

/* #endregion */

/* #region Width < 800px MOBILE VIEW*/
@media (width < 800px) {
    * {
        font-size: 40%;
    }

    #menu-content {
        margin-top: 10rem; 
    }

    .home-bg {
        background-position-X: 10%;
    }

    #mobile-nav-list {
        visibility: visible;
    }

    #desktop-nav {
        visibility: hidden;
        display: none;
    }

    #navbar {
        height: 10rem;
    }

    #mobile-nav-list {
        height: 5rem;
        width: 100vw;
        margin-right: auto;
        margin-left: 1rem;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        margin-top: 5rem;
        z-index: 5;
    }
    
    #mobile-nav-list li {
        font-size: 8rem;
        list-style-type: none;
        color: #fff;
        margin: 1.5rem 5rem;
        cursor: pointer;
    }

    #mobile-nav-list li:hover {
        color: var(--gold);
    }
    
    .mobile-link {
        /* transform: translateX(0); */
        transition: transform 50ms, visibility 0ms 0ms;
    }

    #mobile-nav-list .home {
        margin-top: 8rem;
    }

    /* #mobile-nav-list .home .active {
        transform: translateX(-50rem);
        transition: transform 50ms 50ms;
    } */

    .inactive {
        transform: translateX(-50rem);
        visibility: hidden;
        transition: transform 150ms 50ms, visibility 150ms 150ms;
    }

    /* #mobile-nav-list .menu .active {
        transform: translateX(-50rem);
        transition: transform 50ms 100ms ease;
    }
    
    #mobile-nav-list .shop .active {
        transform: translateX(-50rem);
        transition: transform 50ms 150ms ease;
    }
    
    #mobile-nav-list .catering .active {
        transform: translateX(-50rem);
        transition: transform 50ms 200ms ease;
    }
    
    #mobile-nav-list .about .active {
        transform: translateX(-50rem);
        transition: transform 50ms 250ms ease;
    }
    
    #mobile-nav-list .hours .active {
        transform: translateX(-50rem);
        transition: transform 50ms 300ms ease;
    }
    
    #mobile-nav-list .cart .active {
        transform: translateX(-50rem);
        transition: transform 50ms 350ms ease;
    } */
    
    #mobile-nav-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 10rem;
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    #mobile-nav-button:hover {
        color: var(--gold);
        background-color: #111;
    }

    .fa-minus {
        position: absolute;
        font-size: 8rem;
        transition: transform 300ms;
    }
    
    .bar-1 {
        transform: translateY(2rem) rotate(0) scaleX(1);
    }
    
    .bar-1-clicked {
        transform: translateY(0) rotate(-405deg) scaleX(1.3);
    }
    
    .bar-2 {
        transform: scaleX(1);
    }
    
    .bar-2-clicked {
        transform: scaleX(0);
    }
    
    .bar-3 {
        transform: translateY(-2rem) rotate(0) scaleX(1);
    }
    
    .bar-3-clicked {
        transform: translateY(0) rotate(405deg) scaleX(1.3);
    }

    .blurred-active {
        backdrop-filter: blur(10px) grayscale(100%) brightness(50%);
        transition: backdrop-filter 100ms;
    }

    #blur-element {
        height: 110vh;
        width: 110vw;
        left: -5vw;
        top: -5vh;
        position: absolute;
        z-index: 4;
        transition: backdrop-filter 100ms;
    }

}

/* #endregion */

/* #region Width < 600px */
@media (width < 600px) {

}
/* #endregion */